<div class="row">
  <div class="col-6">
    <h1>Bienvenido a Manada</h1>
    <p class="lead">Encuentra cafeterías, espacios de coworking o lugares públicos de donde puedas trabajar facilmente en León</p>
  </div>
  <div class="col-6">
    <%= image_tag "hero", class: "hero-img" %>
  </div>
</div>
<br>
<h2>Nuestra Selección</h2>
<div class="d-flex flex-row">
  <div class="card" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1525610553991-2bede1a236e2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" class="card-img-top">
    <div class="card-body">
      <p class="card-text"><span class="text-uppercase badge badge-pill badge-success">barato</span> <span class="badge badge-pill badge-warning">WIFI INESTABLE</span></p>
      <h5 class="card-title">Café del Valle</h5>
      <p class="card-text">Av. Panorama 1109, Valle del Campestre</p>
    </div>
  </div>
</div>
<br>
<br>
<br>

